/**
 * Little fix ups
 */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header, section, footer, aside, nav, main, article, figure {
    display: block; 
}

p {
    line-height: 1.5em;
    margin: .5em 0;
}


/**
 * Headings
 */
h1 { font-size: 1.5em; margin: .5em 0; }


/**
 * Grid
 */
.container {
    margin: 0 auto;
    max-width: 1140px;
    width: 90%; 
}

.container .row {
    margin-left: -.75em;
    margin-right: -.75em;
}

.fluid.container {
    padding-right: .75em;
    padding-left: .75em;
    max-width: 100%;
    width: 100%;
}

.row {
    margin-left: auto;
    margin-right: auto;
}

.row:after {
    clear: both;
    content: '';
    display: table;
}

.row .col {
    float: left;
    padding: 0 .75em;
}

.row .col.sm1 {width: 8.33%;}
.row .col.sm2 {width: 16.66%;}
.row .col.sm3 {width: 25%;}
.row .col.sm4 {width: 33.33%;}
.row .col.sm5 {width: 41.66%;}
.row .col.sm6 {width: 50%;}
.row .col.sm7 {width: 58.33%;}
.row .col.sm8 {width: 66.66%;}
.row .col.sm9 {width: 75%;}
.row .col.sm10 {width: 83.33%;}
.row .col.sm11 {width: 91.66%;}
.row .col.sm12 {width: 100%;}

.row .col.offset-sm1 {margin-left: 8.33%;}
.row .col.offset-sm2 {margin-left: 16.66%;}
.row .col.offset-sm3 {margin-left: 25%;}
.row .col.offset-sm4 {margin-left: 33.33%;}
.row .col.offset-sm5 {margin-left: 41.66%;}
.row .col.offset-sm6 {margin-left: 50%;}
.row .col.offset-sm7 {margin-left: 58.33%;}
.row .col.offset-sm8 {margin-left: 66.66%;}
.row .col.offset-sm9 {margin-left: 75%;}
.row .col.offset-sm10 {margin-left: 83.33%;}
.row .col.offset-sm11 {margin-left: 91.66%;}
.row .col.offset-sm12 {margin-left: 100%;}

@media only screen and (min-width : 601px) {
    .row .col.md1 {width: 8.33%;}
    .row .col.md2 {width: 16.66%;}
    .row .col.md3 {width: 25%;}
    .row .col.md4 {width: 33.33%;}
    .row .col.md5 {width: 41.66.33%;}
    .row .col.md6 {width: 50%;}
    .row .col.md7 {width: 58.33%;}
    .row .col.md8 {width: 66.66%;}
    .row .col.md9 {width: 75%;}
    .row .col.md10 {width: 83.33%;}
    .row .col.md11 {width: 91.66%;}
    .row .col.md12 {width: 100%;}

    .row .col.offset-md1 {margin-left: 8.33%;}
    .row .col.offset-md2 {margin-left: 16.66%;}
    .row .col.offset-md3 {margin-left: 25%;}
    .row .col.offset-md4 {margin-left: 33.33%;}
    .row .col.offset-md5 {margin-left: 41.66.33%;}
    .row .col.offset-md6 {margin-left: 50%;}
    .row .col.offset-md7 {margin-left: 58.33%;}
    .row .col.offset-md8 {margin-left: 66.66%;}
    .row .col.offset-md9 {margin-left: 75%;}
    .row .col.offset-md10 {margin-left: 83.33%;}
    .row .col.offset-md11 {margin-left: 91.66%;}
    .row .col.offset-md12 {margin-left: 100%;}
}

@media only screen and (min-width : 990px) {
    .row .col.lg1 {width: 8.33%;}
    .row .col.lg2 {width: 16.66%;}
    .row .col.lg3 {width: 25%;}
    .row .col.lg4 {width: 33.33%;}
    .row .col.lg5 {width: 41.66.33%;}
    .row .col.lg6 {width: 50%;}
    .row .col.lg7 {width: 58.33%;}
    .row .col.lg8 {width: 66.66%;}
    .row .col.lg9 {width: 75%;}
    .row .col.lg10 {width: 83.33%;}
    .row .col.lg11 {width: 91.66%;}
    .row .col.lg12 {width: 100%;}

    .row .col.offset-lg1 {margin-left: 8.33%;}
    .row .col.offset-lg2 {margin-left: 16.66%;}
    .row .col.offset-lg3 {margin-left: 25%;}
    .row .col.offset-lg4 {margin-left: 33.33%;}
    .row .col.offset-lg5 {margin-left: 41.66.33%;}
    .row .col.offset-lg6 {margin-left: 50%;}
    .row .col.offset-lg7 {margin-left: 58.33%;}
    .row .col.offset-lg8 {margin-left: 66.66%;}
    .row .col.offset-lg9 {margin-left: 75%;}
    .row .col.offset-lg10 {margin-left: 83.33%;}
    .row .col.offset-lg11 {margin-left: 91.66%;}
    .row .col.offset-lg12 {margin-left: 100%;}
}


/**
 * Form group and input
 */
.form-group {
    margin-bottom: 1em;
}

.form-group:after {
    clear: both;
    content: '';
    display: table;
}

.form-group label {
    font-size: .9em;
    margin: 0 0 .5em;
    display: block;
}

.form-group.has-error .form-input {
    border-color: #E58888;
    box-shadow: 0 0 4px #E06161;
}


.form-group.form-horizontal label {
    display: inline-block;
    width: 120px;
    font-weight: normal;
    color: #777;
    margin: 0;
}

.form-input {
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: .7em 1em;
    font-size: 1em;
    width: 100%;
}

.form-input.invalid {
    border-color: #CF6666;
    box-shadow: 0 0 3px rgba(207,102,102,.5);
}

textarea {
    font-family: arial;
    line-height: 1.5em;
    resize: vertical;
}


/**
 * Input group
 */
.input-group {
    display: inline-table;
    vertical-align: middle;
    width: 100%;
}

.input-group-addon {
    background: -webkit-linear-gradient(#E6E6E6, #C3C3C3);
    background: -o-linear-gradient(#E6E6E6, #C3C3C3);
    background: linear-gradient(#E6E6E6, #C3C3C3);
    box-shadow: inset 0px 1px 0px #FFFFFF;
    border: 1px solid #b2b2b2;
    background: #f7f7f7;
    padding: 0 .5em;
}

.input-group .input-group-addon {
    width: auto;
    text-align: center;
}

.input-group .input-group-addon, .input-group .form-input {
    display: table-cell;
}

.input-group .input-group-addon:first-child, .input-group .form-input:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group .input-group-addon:not(:first-child), .input-group .form-input:not(:first-child) {
    border-left: 0;
}

.input-group .input-group-addon:not(:first-child):not(:last-child), .input-group .form-input:not(:first-child):not(:last-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group .input-group-addon:last-child, .input-group .form-input:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


/**
 * Text
 */
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}


/**
 * Alignment
 */
.valign { display: table-cell; vertical-align: middle; }