body {
	font-family: arial
}

header {
	background: #f7f7f7;
	border-bottom: 1px solid #d5d5d5;
	padding: .9em 0;
}

header h3 {
	margin: 0;
	padding: 0;
}

.nav {
	float: right;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav ul:after {
	clear: both;
	content:'';
	display: table;
}

.nav ul li {
	float: left;
}

.nav ul li a {
	padding: 0 .5em;
}